main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    gap: 10px 10px;
}
.block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    background-color: indianred;
    grid-column: 1/ span 3;
}
.block.block2{
    background-color: midnightblue;
    grid-column: 1/ span 3;
}
.block.block3{
    background-color: slateblue;
}
.block.block4{
    background-color: mediumseagreen;
}

@media screen and (min-width: 772px) and (max-width: 991px){
    main{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
    }
    .block.block1,.block.block2,.block.block3,.block.block4{
        grid-column: 1;
        grid-column-start: 1;
    }
}
@media screen and (min-width: 320px) and (max-width: 771px){
    main{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
    }
    .block.block1,.block.block2,.block.block3,.block.block4{
        grid-column: 1;
        grid-column-start: 1;
    }
    .block.block1{
        grid-row-start: 2;
    }
}