.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    gap: 10px 10px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    background-color: indianred;
    grid-column-start: 1;
    grid-column-end: 4;
 }
.block.block2{
    background-color: midnightblue;
    grid-row-start: 2;
    grid-row-end: 4;
}
.block.block3{
    background-color: slateblue;
}
.block.block4{
    background-color: mediumseagreen;
}
.block.block5{
    background-color: mediumpurple;
    grid-column-start: 2;
    grid-column-end: 4;
}
.block.block6{
    background-color: indianred;
    grid-column-start: 1;
    grid-column-end: 3;
}
.block.block7{
    background-color: midnightblue;

}
.block.block8{
    background-color: slateblue;
    grid-column-start: 1;
    grid-column-end: 4;
}
