table{
    border-collapse: collapse;
    border: 2px solid #4F5869;
    border-top: none;
}
tbody td:first-child, tbody tr td:last-child{
    background: #ffdcdc;
}
caption{
    background: #aaaac8;
    font-size: 0.6em;
    border: 2px solid #4F5869;
    border-bottom: none;
}
caption h1{
    margin: 2px;
}
th{
    color: #c8bef0;
    background: #232546;
}
td{
    border: 1px dotted #4F5869;
}
.holiday{
    background: #fa7878;
}
tbody tr td.another_month
{
    background: lightgray;
    color: grey;
}
.special_day{
    color: royalblue;
    text-decoration: underline;
}