body{
    font-family: Helvetica, sans-serif;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
}
.headers>h1,.headers>h2{
    color: #EDF2F4;
}
header,footer, .education{
    padding: 30px;
}
header,footer{
    color: #8D99AE;
    background-color: #2B2D42;
}
.education{
    background-color: #8D99AE;
}
.links>a,.links{
    color: #EF233C;
}
header{
    margin-bottom: 10px;
}
footer{
    margin-top: 10px;
}