.colorPicker{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    border: solid 5px lightgray;
    border-radius: 5px;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.swatch{
    border: solid 1px black;
    border-radius: 5px;
    margin: 0 0 0 1em;
    height: 4em;
    width: 5em;
}
.swatch_copy{
    border: solid 1px black;
    margin: 0.5em 0 0 1em;
    height: 4em;
    width: 5em;
}
#saveBtn{
    display: flex;
    align-self: end;
    margin-left: 10px;
}
.deleteBtn{
    display: flex;
    margin-left: 55px;
}
.copies{
    display: flex;
    flex-direction: row;
}