
.checklist li {
    list-style-image: url('../images/output-onlinepngtools.png');
    padding-left: 10px;
    line-height: 1.5;
}

.checklist .checked {
    list-style-image: url('../images/15x15_checkmark.png');
    padding-left: 10px;
}
