body{
    font-family: Helvetica,sans-serif,Arial;
    width: 95%;
    margin: 0 auto;
    background-image: url("../Images/background.jpg");
    background-size: 100%;
    color: #373d49;
}
h2{
    font-variant-caps: all-small-caps;
    color: #4f5869;
}
h1{
    background-color: #95a8b8;
    height: 60px;
    color: white;
    border-radius: 5px;
    text-align: center;
}

#personal_info{
    background-color: #EDF2F4;
    border-radius: 10px;
}
.koala>a>img{
    width: 200px;
    border-radius: 5px;
}

#my_hobbies{
    background-color: #EDF2F4;
    border-radius: 10px;
}
#my_hobbies>ul{
    list-style: none;
}

#likes{
    background-color: #EDF2F4;
    border-radius: 10px;
}

#likes>ul{
    list-style: none;
}
.artists>img{
    width: 200px;
}
.link{
    color: #326194;
    text-decoration: none;
}
.link:hover{
    color: hotpink;
    width: 150px;
    border: 2px hotpink;
    border-radius: 5px;
    padding: 5px;
    transition: border 0.3s ease;
    text-decoration: none;
}
#friends{
    background-color: #EDF2F4;
    border-radius: 10px;
}
#friends h2{
    text-align: center;
    margin: 7px;
}
.datagrid table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff; overflow: hidden;
    border: 2px solid #4F5869;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.datagrid table td, .datagrid table th {
    padding: 9px 10px;
}
.datagrid table thead th {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDF2F4', endColorstr='#EDF2F4');
    background: #EDF2F4;
    color:#4F5869;
    font-size: 15px;
    font-weight: normal;
    border-left: 1px solid #4F5869;
    border-bottom: 1px solid #4F5869;
}
.datagrid table tbody td {
    color: #4F5869;
    border-left: 1px solid #4F5869;
    font-size: 12px;
    border-bottom: 1px solid #4F5869;
    font-weight: normal;
}
.datagrid table tbody .alt td {
    background: #EDF2F4;
    color: #4F5869;
}
.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.onbekend{
    background-color:red;
}
tbody tr.alt td.onbekend{
    background-color:red;
}