/** Volgende CSS gaan we ze geven **/
body{
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
}
h1{
    text-transform: uppercase;
    font-size: 2.5em;
    border-bottom: solid 2px;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2{
    font-size: 150%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.respimg {
    width: 100%;
    height: auto;
    display: block;
}
/*header boven de navigatie*/
header img{
    height: 50px;
}
header{
    width: 980px;
    margin: auto;
}
.kitchn{
    border-bottom: solid 1px #ebe8e8;
}
/*navigatie*/
nav{
    display: grid;
    grid-template-columns: repeat(7,auto);
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    width: 980px;
}
nav a{
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    border-right: solid 1px #ebe8e8;
    text-transform: uppercase;
    color: #5b4746;
    font-size: 13px;
    text-decoration: none;
}
nav a:last-child{
    border: none;
}
nav a:hover{
    border-bottom:2px #fff100;
    border-bottom-style: solid;
}
/*main*/
main{
    border-top: solid 1px #ebe8e8;
}
/*main header*/
main header{
    border: none;
    width: 100%;
    height: 500px;
    background-image: url("../images/headerimage.jpg");
    background-size: cover;
}
main header p{
    color: white;
    font-size: 40px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px #8D99AE;

}
.recipes{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 980px;
}
.recipes div{
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.recipes div figure{
    margin-bottom: 0;
}
/*article*/
article{
    border-top: solid 1px #ddd;
}
.small_item{
    text-transform: uppercase;
    color: #ff4d56;
    letter-spacing: 1px;
}
h2 a{
    text-decoration: none;
    color: black;
}
article p{
    color: #666;
}
article footer p{
    color: black;
    padding-right: 10px;
    font-style: italic;
}
time{
    padding-left: 10px;
    border-left: solid 1px #ebe8e8;
    font-style: normal;
    color: #666;
}
/*viewport*/
@media screen and (max-width:767px) {
    header, nav, .recipes{
    width: 600px;
    }
}
@media screen and (min-width:770px) and (max-width:999px){
    header, nav, .recipes{
        width: 750px;
    }
}
@media screen and (min-width:800px){
    main header p{
        font-size: 80px;
    }
}