body{
    font-size: 1.2em;
}
article{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border: solid black 2px;
    height: 250px;
}
h2{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
img{
    margin-left: 10px;
    margin-right: 10px;
}
.oneven img{
    float: right;
}
.even img{
    float: left;
}
article p{
    text-align: left;
    margin-left: 10px;
}