body{
    font-family: Verdana,sans-serif;
font-size: 2em;
}
.icon{
    background-image:url("../images/fruit.png");
    background-size: 40px 40px;
    padding-left: 20px;
    padding-right: 20px;
}
a{
    color: midnightblue;
}
a:hover{
    width: 150px;
    border: 2px solid red;
    color: red;
    border-radius: 5px;
    padding: 5px;
    transition: border 0.3s ease;
    text-decoration: none;
}
