body{
    font-family: Helvetica,sans-serif,Arial;
    width: 95%;
    margin: 0 auto;
    background-image: url("../Images/background.jpg");
    background-size: cover;
    color: #373d49;
}
h2{
    font-variant-caps: all-small-caps;
    color: #4f5869;
}
h1{
    background-color: #95a8b8;
    height: 60px;
    color: white;
    border-radius: 5px;
    text-align: center;
}

#personal_info{
    background-color: #EDF2F4;
}
.koala>a>img{
    width: 200px;
    border-radius: 5px;
}

#my_hobbies{
    background-color: #EDF2F4;

}
#my_hobbies>ul{
    list-style: none;
}

#likes{
    background-color: #EDF2F4;
}

#likes .row ul{
    list-style: none;
}
.artists>img{
    width: 200px;
}
.link{
    color: #326194;
    text-decoration: none;
}
.link:hover{
    color: hotpink;
    width: 150px;
    border: 2px hotpink;
    border-radius: 5px;
    padding: 5px;
    transition: border 0.3s ease;
    text-decoration: none;
}